// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.restaurants-list {
  background-color: lightgrey;
}

.restaurant-info {
  border: 1px solid grey;
}

.reviews {
  border-top: 1px solid lightgrey;
}
